# Ignore virtual environment
.venv/
venv/

# Python bytecode
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment & config
.env
*.env

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
